.Footer {
  background: #333;
  color: white;
}

.Footer-logo {
  animation: Layout-logo-spin infinite 20s linear;
  height: 80px;
}

.Layout-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Layout-intro {
  font-size: large;
}

.container {
  padding: 20px 0;
}

/* .crop-img {
  height: 250px;
  overflow: hidden;
  width: 30%;
  display: inline-block;
  margin-bottom: 20px;
}

.crop-img img {
  height: auto;
  object-position: center;
} */

/* Masonry grid css */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}
 
/* Style your items */
.my-masonry-grid_column > .crop-img { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 10px;
}
.my-masonry-grid_column > .crop-img img { 
  width: 100%;
}

.divider {
  border-bottom: 1px solid #eee;
  padding: 2em;
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
}

.dogList li {
  text-transform: capitalize;
}
input {
  text-transform: capitalize;
}

h3.breed-type {
  text-transform: capitalize;
}

button {
  border: 0;
  margin-left: 1em;
  padding: 10px;
  border-radius: 8px;
  color: #2C3E50;
}
button.turquoise {
  background: turquoise;
}

@keyframes Footer-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Nav bar */
li.nav-item {
  cursor: pointer;
  border: 1px solid turquoise;
  border-radius: 8px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {  
      margin-left: auto;
  }
}
